html, body {
	background-image: url(../image/black.jpg);
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-weight: 100;
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
}

.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.content {
	text-align: center;
	display: inline-block;
}

.container .contact {
	border: 1px solid #000;
}

.title {
	font-size: 96px;
}

.presentation {
	background-image: url(../image/stripe.png);
	background-repeat: repeat;
	max-width: 80em;
	height: 300px;
	margin-top: 40px;
	margin-bottom: 15px;
	margin-left: -80px;
	margin-right: -80px;
}

.presentation img {
	padding-right: 30px;
}

#moi {
	color: #FFF;
	text-align: left;
	margin-top: 10px;
	font-weight: normal;
	font-size: 1.5em;
	font-style: italic;
}

.citation {
	text-align: right;
	margin-top: 25px;
	color: #FFF;
	width: 26em;
	font-style: italic;
	float: right;
	font-size: 18px;
}

.col-center-block {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.loisir {
	background: rgba(230,230,230,1);
	background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(112,112,112,1) 69%, rgba(112,112,112,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,230,230,1)), color-stop(69%, rgba(112,112,112,1)), color-stop(100%, rgba(112,112,112,1)));
	background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(112,112,112,1) 69%, rgba(112,112,112,1) 100%);
	background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(112,112,112,1) 69%, rgba(112,112,112,1) 100%);
	background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(112,112,112,1) 69%, rgba(112,112,112,1) 100%);
	background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(112,112,112,1) 69%, rgba(112,112,112,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#707070', GradientType=0 );
	color: #FFF;
}

.loisir li {
	padding-bottom: 5px;
	padding-top: 5px;
	list-style: none;
}

.center_li {
	text-align: center;
}

.container {
	width: 90%;
	max-width: 1200px;
	padding: 0 60px;
	margin: 0 auto;
	background-color: #FFF;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	position: relative;
}

.extends {
	padding-left: 80px;
	padding-right: 80px;
	margin-left: -80px;
	margin-right: -80px;
}

.alert-success {
  background-color: #4CB122;
  border-color: #d6e9c6;
  color: #000000;
}

.alert {
  padding: 15px;
}